

<div class="jumbotron">

<h1>I hope this button isn't racist</h1>

<%= link_to "Paris Hitler", "#", class: "btn btn-primary" %>
<h1>oops</h1>

<a href="http://getbootstrap.com/components/">Bootstrap components are here</a>



</div>






<br>
<br>


<p> <%= link_to "about", "about" %> </p>
<p> <%= link_to "root", "#" %> </p>
<p> <%= link_to "temp", "temp" %> </p>