

<div class="jumbotron center">

<h1>Loading...</h1>

<%= link_to "Wait", "#", class: "btn btn-primary" %>
<%= link_to "Just a sec..", "#", class: "btn btn-primary" %>

<h1></h1>

<a href="http://getbootstrap.com/components/">Bootstrap components are here</a>



</div>







