<div class="panel panel-default">
  <div class="panel-body">
    MOTHERFUCKING PANEL EXAMPLE
  </div>
</div>




<div class="bar"></div>
<div class="bar"></div>
<div class="bar"></div>
<div class="bar"></div>