<div class="panel panel-default">
  <div class="panel-body">
    MOTHERFUCKING PANEL EXAMPLE
  </div>
</div>



<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/OD380XDs-NY"></iframe>
</div>
