
<head>
<%= javascript_include_tag 'application.js', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
<div class="container center">
  <div class="row">
    <div class="col-sm-12 catimage">
      <img src="http://placekitten.com/700/300" alt="">
    </div>
    <div class="col-sm-12 catimage">
      <img src="http://placekitten.com/699/300" alt="">
    </div>
    <div class="col-sm-12 catimage">
      <img src="http://placekitten.com/701/300" alt="">
    </div>
    <div class="col-sm-12 catimage">
      <img src="http://placekitten.com/702/300" alt="">
    </div>
    <div class="col-sm-12 catimage">
      <img src="http://placekitten.com/703/300" alt="">
    </div>
    <div class="col-sm-12 catimage">
      <img src="http://placekitten.com/704/300" alt="">
    </div>    
  </div>
</div>
<p></p>

<div class="container buttons center ">
  <div class="row ">
    <div class="btn-group">
      <button class="prev btn btn-warning "> PREV </button>
      <button class="reset btn btn-info"> RESET </button>
      <button class="next btn btn-success"> NEXT </button>
    </div>
  </div>
</div>
</body> 



<button id = "call", class="btn btn-lg btn-info", onclick="ajax()">call</button id>
  <div id = 'response'></div>